@charset "utf-8";
@import "./reset.css";

main {
    overflow:hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}

.center {
    display:grid;
}

input,select {
    
    height: 35px;
    border-radius: 5px;
    font-size: 12px;  
}

select {
    width: 185px;
    color: #fff;
    background-color: var(--ap-background-color-other);
}

option{
    line-height: 40px;
    height: 45px;
}

input[type=button] {
    width: 100px;
    background-color: rgb(184, 73, 21);
    color: white;
    cursor:pointer;
}

.set-shape {
    height: 45px;
}

.background {
    width: 610px;
    height: 400px;
    background-color: var(--ap-background-color-other);
    border-radius: 5px;
}

.option-none {
    display: none
}

.block {
    margin: 5px 5px;
    width: 90px;
    height: 90px;
    background-color: aliceblue;
    flex-wrap: wrap; 
    animation: moveToLeft 2s ease-in-out;
}

.circle {
    border-radius: 50%;
}

.row {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

.column {
    flex: 1 0 auto;
    width: 100px;
    height: 100px;
}

.infor {
    text-align: center;
    font-size: 12px;
}

@keyframes moveToLeft {
    0% {
      transform: translateX(400px);
    }
    100% {
      transform: translateX(0px);
    }
  }