@charset "utf-8";

/*------------------------------------------*/
/* Reset Style                              */
/*------------------------------------------*/
:root {
    --app-background-color: rgb(37, 37, 38);
    --app-border-color: #3c3a3a;
    --ap-background-color-other: rgba(86, 86, 86, 0.362);
}

* {
    margin: 0;
    padding: 0;
    outline:none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    font-family: "Nunito Sans","Open Sans", Arial;
    line-height: 1.5;
    margin-inline: auto;
    background-color: var(--app-background-color);
    color: #e0dddd;
    border-radius: 0;
}